@font-face { 
  font-family: "Spooky Theme";
  font-style: normal;
  font-weight: 400;
  src: 
    url(/fonts/'/Users/Rohan.Zephirin/Documents/GitHub/rohanzephirin.github.io/fonts/Spooky Theme.otf') format("opentype")

}