@font-face { 
  font-family: "Spooky Theme";
  font-style: normal;
  font-weight: 400;
  /*
    This path is now relative to the CSS file.
    Since both files are in the /fonts/ folder, this will work.
    Quotes are needed because the filename has spaces.
  */
  src: url('Spooky Theme.otf') format("opentype");
}